#データセット
coco/
#mae重みファイル
mae_weights/
#推論画像出力フォルダ
image_output/
#vit重みフォルダ
vit_weights/
#学習結果出力フォルダ
train_weights/
#新しいアノテーションデータセット
annotations/
#アノテーションを確認するGUIアプリ
gui.py
#動画
video/
#動画推論結果
video_output/
#学習グラフ
plot_result/
#自己教師あり学習用のjosn保存フォルダ
save_json_folder/

meta_anonotations.py
self_train_loop.py